* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  outline: none;
}

* {
  overflow: hidden;
  overflow-y: scroll;
  scrollbar-width: none;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

* h1, h2, h3 {
  overflow: hidden;
}

.indexBody {
  background-image: url(../img/fondoIndex.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.bodyContacto {
  background-image: url(../img/darkPatron.png);
}

.bodyNosotros {
  background-image: url(../img/fondoIndex.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  opacity: 95%;
}

.bodyServicios {
  background-color: #02111B;
}

.bodyGaleria {
  background-image: url(../img/fondoGaleria.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.mainContacto .informacion .row h2 {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: center;
  color: white;
  white-space: nowrap;
  font-size: 1.4rem;
  margin: 0% 0% 5% 0%;
}

header {
  font-size: 1.2rem;
  width: 100%;
  background: linear-gradient(to bottom, #DEB986, transparent);
  height: 60px;
}
header nav {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
  font-size: 1.2rem;
  margin: 0% 5% 0% 5%;
}
header nav h1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  height: 50px;
  margin: 0;
}
header nav h1 a {
  white-space: nowrap;
  color: #7a163c;
  font-size: 1.2rem;
  text-decoration: none;
  overflow: hidden;
}
header nav #botonHamburguesa {
  padding: 0;
}
header nav #botonHamburguesa .container-fluid {
  padding: 0;
}
header nav #botonHamburguesa .container-fluid .navbar-toggler {
  border: 0;
  user-select: none;
  padding: 0;
}
header nav #botonHamburguesa .container-fluid #offcanvasNavbar {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  width: 50%;
  background: linear-gradient(to left, rgb(212, 118, 118), transparent);
  border: 0;
}
header nav #botonHamburguesa .container-fluid #offcanvasNavbar .ulMobile {
  padding: 0%;
  height: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
header nav #botonHamburguesa .container-fluid #offcanvasNavbar .ulMobile li a {
  color: #ffffff;
  text-decoration: none;
  text-shadow: 1px 1px 1px black;
}
header .navTabletAndDesktop {
  display: none;
}
header .navTabletAndDesktop .ulTabletAndDesktop {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 390px;
}
header .navTabletAndDesktop .ulTabletAndDesktop li a {
  color: #7a163c;
  text-decoration: none;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  border-top: 1px solid black;
  width: 100%;
  background-color: white;
  font-size: 0.57rem;
}
footer h3 a {
  color: black;
  font-size: 1rem;
  text-decoration: none;
  margin-top: 1%;
}
footer .footerInfoContacto {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
}
footer .footerInfoContacto .direccionYMail {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 37%;
  margin-left: 7%;
}
footer .footerInfoContacto .direccionYMail p {
  margin: 0;
}
footer .footerInfoContacto .redesSociales {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-between;
  margin: 2% 7% 2% 0%;
}
footer .footerInfoContacto .redesSociales .anclaTextoFooter {
  text-decoration: none;
}
footer .footerInfoContacto .redesSociales svg {
  width: 20px;
}
footer .copyright {
  margin: 1% 0% 1% 0%;
  color: #7a163c;
  text-align: center;
}

.mainIndex .subTitulo {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: end;
  height: 85vh;
  width: 100vw;
  position: relative;
  bottom: 5vh;
}
.mainIndex .subTitulo h2 {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: center;
  color: #7a163c;
  font-family: "Times New Roman", Times, serif;
}
.mainIndex .subTitulo a {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: center;
}
.mainIndex .subTitulo a img {
  margin-top: 10px;
  width: 70px;
  height: 14px;
}
.mainIndex .fundamentos {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-around;
}
.mainIndex .fundamentos h2 {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: center;
  font-size: 1.5rem;
  color: black;
  overflow: hidden;
}
.mainIndex .fundamentos #carouselExampleCaptions {
  margin: 3% 5% 8% 5%;
}
.mainIndex .fundamentos #carouselExampleCaptions .card {
  background-color: rgba(255, 255, 255, 0.5);
}
.mainIndex .fundamentos #carouselExampleCaptions .card img {
  margin: 3% 8% 5% 8%;
}
.mainIndex .fundamentos #carouselExampleCaptions .card h3 {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: center;
  overflow: hidden;
}
.mainIndex .fundamentos #carouselExampleCaptions .card p {
  margin: 0% 5% 5% 5%;
}
.mainIndex .gridFundamentosDesktop {
  display: none;
}

.mainContacto .informacion {
  margin: 4% 5% 4% 5%;
}
.mainContacto .informacion .row #contactoBasico {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: start;
  margin: 3% 0% 3% 0%;
}
.mainContacto .informacion .row #contactoBasico .iconoContacto {
  width: 2.5rem;
}
.mainContacto .informacion .row #contactoBasico p {
  color: white;
  position: relative;
  top: 5px;
  margin-left: 4%;
}
.mainContacto .informacion .row #redes {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 5% 0% 5% 0%;
}
.mainContacto .informacion .row #redes img {
  width: 3rem;
}
.mainContacto .informacion .row #mapaGM {
  margin-bottom: 5%;
}
.mainContacto .informacion h2 {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: center;
  color: white;
  white-space: nowrap;
  font-size: 1.4rem;
  margin: 0% 0% 5% 0%;
}
.mainContacto .informacion .quieroQueMeContacten {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
}
.mainContacto .informacion .quieroQueMeContacten div {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-bottom: 4%;
}
.mainContacto .informacion .quieroQueMeContacten div label {
  color: white;
}
.mainContacto .informacion .quieroQueMeContacten div #buttonQuieroContacten {
  background-color: #7a163c;
}
.mainContacto .informacion .quieroQueMeContacten div #buttonQuieroContacten:hover {
  background-color: #9b003b;
}

.mainGaleria {
  margin: 3% 5% 3% 5%;
}
.mainGaleria .contenedorMultimedia h2 {
  font-size: 1rem;
  margin: 0;
  color: black;
}
.mainGaleria .contenedorMultimedia #video {
  aspect-ratio: 16/9;
  margin-top: 2%;
  width: 100%;
}
.mainGaleria .contenedorMultimedia div {
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 4%;
}
.mainGaleria .contenedorMultimedia div img {
  aspect-ratio: 16/9;
  object-fit: cover;
  width: 33%;
}

.mainNosotros #nuestraHistoria {
  margin: 0% 5% 0% 5%;
}
.mainNosotros #nuestraHistoria h2 {
  color: white;
}
.mainNosotros #nuestraHistoria p {
  color: white;
}
.mainNosotros #nuestraHistoria #historiaTexto {
  padding: 0;
}
.mainNosotros #nuestroPersonalH2 {
  color: rgb(140, 0, 255);
  margin: 5% 0% 5% 0%;
  font-size: 2rem;
}
.mainNosotros .nuestroPersonalCarrusel {
  margin: 0% 5% 3% 5%;
}
.mainNosotros .nuestroPersonalCarrusel #carouselExampleCaptions .carousel-inner .carousel-item .card {
  background-color: rgba(255, 255, 255, 0.5);
}
.mainNosotros .nuestroPersonalCarrusel #carouselExampleCaptions .carousel-inner .carousel-item .card img {
  margin: 3% 3% 5% 3%;
  border-radius: 2%;
}
.mainNosotros .nuestroPersonalCarrusel #carouselExampleCaptions .carousel-inner .carousel-item .card h3 {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: center;
  overflow: hidden;
}
.mainNosotros .nuestroPersonalCarrusel #carouselExampleCaptions .carousel-inner .carousel-item .card p {
  margin: 0% 5% 5% 5%;
}
.mainNosotros #nuestroPersonalDesktop {
  display: none;
}

.mainServicios .inforServicios {
  margin: 2% 5% 2% 5%;
}
.mainServicios .inforServicios .contenedorServicios h2 {
  color: white;
  font-size: 1.2rem;
}
.mainServicios .inforServicios .contenedorServicios p {
  color: white;
  font-size: 0.9rem;
}
.mainServicios .inforServicios .contenedorServicios img {
  width: 100%;
  aspect-ratio: 16/9;
  margin: 3% 0% 3% 0%;
}
.mainServicios .inforServicios .deServicioAContacto {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: center;
}
.mainServicios .inforServicios .deServicioAContacto button {
  background-color: #7a163c;
  border: 0;
  margin: 3% 0% 5% 0%;
}
.mainServicios .inforServicios .deServicioAContacto button a {
  color: white;
  text-decoration: none;
}
.mainServicios .inforServicios .deServicioAContacto button:hover {
  background-color: #9b003b;
}

@media screen and (min-width: 520px) {
  header {
    font-size: 1.2rem;
    width: 100%;
    background: linear-gradient(to bottom, #DEB986, transparent);
    height: 60px;
  }
  header nav {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: space-between;
    font-size: 1.2rem;
    margin: 0% 5% 0% 5%;
  }
  header nav h1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    height: 50px;
  }
  header nav h1 a {
    white-space: nowrap;
    color: #7a163c;
    font-size: 1.5rem;
    text-decoration: none;
    overflow: hidden;
  }
  header nav #botonHamburguesa {
    padding: 0;
  }
  header nav #botonHamburguesa .container-fluid {
    padding: 0;
  }
  header nav #botonHamburguesa .container-fluid a {
    font-size: 1.5rem;
  }
  header nav #botonHamburguesa .container-fluid .navbar-toggler {
    border: 0;
    user-select: none;
    padding: 0;
  }
  header nav #botonHamburguesa .container-fluid #offcanvasNavbar {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    width: 50%;
    background: linear-gradient(to left, rgb(212, 118, 118), transparent);
    border: 0;
  }
  header nav #botonHamburguesa .container-fluid #offcanvasNavbar .ulMobile {
    padding: 0%;
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }
  header nav #botonHamburguesa .container-fluid #offcanvasNavbar .ulMobile li a {
    color: #ffffff;
    text-decoration: none;
    text-shadow: 1px 1px 1px black;
  }
  .footer {
    font-size: 1rem;
  }
  .footer h3 a {
    font-size: 1.5rem;
  }
  .footer .footerInfoContacto .redesSociales svg {
    width: 30px;
  }
  .mainIndex .subTitulo h2 {
    font-size: 2rem;
  }
  .mainIndex .fundamentos h2 {
    font-size: 2rem;
  }
  .mainIndex .fundamentos #carouselExampleCaptions .carousel-inner .carousel-item .card h3 {
    font-size: 2rem;
    margin-bottom: 5%;
  }
  .mainIndex .fundamentos #carouselExampleCaptions .carousel-inner .carousel-item .card p {
    font-size: 1.7rem;
  }
  .mainContacto .informacion {
    margin: 3% 5% 4% 5%;
  }
  .mainContacto .informacion p {
    top: 6px;
    font-size: 1.5rem;
  }
  .mainContacto .informacion .row #contactoBasico .iconoContacto {
    width: 4rem;
    height: 4rem;
  }
  .mainContacto .informacion .row #redes a img {
    width: 5rem;
  }
  .mainContacto .informacion .row h2 {
    font-size: 2.2rem;
  }
  .mainContacto .informacion .row #mapaGM {
    height: 440px;
  }
  .mainContacto .informacion .quieroQueMeContacten h2 {
    font-size: 2.2rem;
  }
  .mainNosotros #nuestraHistoria h2 {
    font-size: 2.5rem;
    margin: 5% 0% 5% 0%;
  }
  .mainNosotros #nuestraHistoria div p {
    font-size: 1.2rem;
  }
  .mainServicios .inforServicios {
    margin: 2% 5% 2% 5%;
  }
  .mainServicios .inforServicios .contenedorServicios h2 {
    font-size: 1.5rem;
  }
  .mainServicios .inforServicios .contenedorServicios p {
    font-size: 1.1rem;
  }
  .mainServicios .inforServicios .deServicioAContacto button a {
    font-size: 1.3rem;
    color: white;
    text-decoration: none;
  }
  .mainGaleria .contenedorMultimedia h2 {
    font-size: 1.7rem;
  }
}
@media screen and (min-width: 768px) {
  header {
    height: 10vh;
  }
  header nav {
    margin: 0% 8% 0% 8%;
  }
  header nav #botonHamburguesa {
    display: none;
  }
  header nav h1 {
    height: 10vh;
  }
  header nav h1 a {
    font-size: 1.4rem;
    margin: 0;
  }
  header nav h1 a:hover {
    color: #9b003b;
  }
  header nav .navTabletAndDesktop {
    display: flex;
    justify-content: space-between;
    height: 10vh;
  }
  header nav .navTabletAndDesktop .ulTabletAndDesktop {
    position: relative;
    top: 3px;
    margin: 0;
  }
  header nav .navTabletAndDesktop .ulTabletAndDesktop li a {
    font-size: 1rem;
  }
  header nav .navTabletAndDesktop .ulTabletAndDesktop li a:hover {
    color: #9b003b;
  }
  .footer {
    font-size: 1.2rem;
  }
  .footer h3 {
    margin: 0.5%;
  }
  .footer h3 a {
    font-size: 1.7rem;
  }
  .footer h3 a {
    font-size: 1.5rem;
  }
  .footer .footerInfoContacto .redesSociales svg {
    width: 35px;
  }
  .mainIndex .subTitulo h2 {
    font-size: 2.5rem;
  }
  .mainIndex .fundamentos {
    display: flex;
    justify-content: center;
  }
  .mainIndex .fundamentos h2 {
    font-size: 2.4rem;
  }
  .mainIndex .fundamentos #carouselExampleCaptions {
    margin: 4% 8% 4% 8%;
  }
  .mainIndex .fundamentos #carouselExampleCaptions .carousel-inner .carousel-item .card img {
    width: 577px;
    margin: 3% auto 3% auto;
  }
  .mainIndex .fundamentos #carouselExampleCaptions .carousel-inner .carousel-item .card p {
    font-size: 2rem;
  }
  .mainContacto .informacion {
    margin: 2% 8% 3% 8%;
  }
  .mainContacto .informacion p {
    top: 6px;
    font-size: 2rem;
  }
  .mainContacto .informacion .row #contactoBasico .iconoContacto {
    width: 5rem;
    height: 5rem;
  }
  .mainContacto .informacion .row #redes a img {
    width: 7rem;
  }
  .mainContacto .informacion .row h2 {
    font-size: 2.8rem;
  }
  .mainContacto .informacion .row #mapaGM {
    height: 500px;
  }
  .mainContacto .informacion .quieroQueMeContacten h2 {
    font-size: 2.8rem;
  }
  .mainContacto .informacion .quieroQueMeContacten div form div #buttonQuieroContacten {
    font-size: 1.6rem;
  }
  .mainNosotros #nuestraHistoria {
    margin: 0% 8% 0% 8%;
  }
  .mainNosotros #nuestraHistoria h2 {
    margin: 0% 0% 3% 0%;
    padding: 0;
  }
  .mainNosotros #nuestraHistoria div p {
    font-size: 1.2rem;
  }
  .mainNosotros #nuestroPersonash2 {
    margin: 3% 0% 5% 0%;
    font-size: 2.5rem;
  }
  .mainNosotros .nuestroPersonalCarrusel {
    margin: 0% 8% 4% 8%;
  }
  .mainNosotros .nuestroPersonalCarrusel #carouselExampleCaptions .carousel-inner .card h3 {
    font-size: 3.3rem;
  }
  .mainNosotros .nuestroPersonalCarrusel #carouselExampleCaptions .carousel-inner .card p {
    font-size: 1.7rem;
  }
  .mainServicios {
    margin: 0% 8% 0% 8%;
  }
  .mainServicios .inforServicios {
    width: 100%;
    margin: 0;
  }
  .mainServicios .inforServicios .contenedorServicios h2 {
    font-size: 2.7rem;
  }
  .mainServicios .inforServicios .contenedorServicios p {
    font-size: 1.6rem;
  }
  .mainServicios .inforServicios .contenedorServicios img {
    margin: 5% 0% 5% 0%;
  }
  .mainServicios .inforServicios .deServicioAContacto button a {
    font-size: 2.5rem;
  }
  .mainGaleria {
    margin: 3% 8% 3% 8%;
  }
  .mainGaleria .contenedorMultimedia h2 {
    font-size: 2.3rem;
  }
}
@media screen and (min-width: 1024px) {
  header {
    height: 15vh;
  }
  header nav {
    height: 15vh;
  }
  header nav h1 {
    height: 15vh;
  }
  header nav h1 a {
    font-size: 2rem;
  }
  header nav .navTabletAndDesktop {
    height: 15vh;
  }
  header nav .navTabletAndDesktop .ulTabletAndDesktop {
    top: 2px;
    width: 520px;
  }
  header nav .navTabletAndDesktop .ulTabletAndDesktop li a {
    font-size: 1.4rem;
  }
  .mainIndex .fundamentos #carouselExampleCaptions {
    display: none;
  }
  .mainIndex .fundamentos h2 {
    font-size: 3rem;
    margin-bottom: 3%;
  }
  .mainIndex .gridFundamentosDesktop {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    margin: 0% 8% 5% 8%;
    grid-column-gap: 5%;
  }
  .mainIndex .gridFundamentosDesktop .card {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.5);
    width: 100%;
  }
  .mainIndex .gridFundamentosDesktop .card img {
    width: 88%;
  }
  .mainIndex .gridFundamentosDesktop .card h3 {
    font-size: 1.4rem;
    margin-bottom: 5%;
  }
  .mainIndex .gridFundamentosDesktop .card p {
    font-size: 1rem;
    margin: 0% 3% 3% 3%;
  }
  .mainContacto .informacion {
    width: 570px;
  }
  .mainContacto .informacion p {
    color: white;
    position: static;
    margin: 0% 0% 0% 4%;
    top: 6px;
    font-size: 2rem;
  }
  .mainContacto .informacion .row #contactoBasico {
    overflow: hidden;
    display: flex;
    justify-content: start;
    margin: 3% 0% 3% 0%;
  }
  .mainContacto .informacion .row #redes {
    margin: 5% 0% 5% 0%;
  }
  .mainContacto .informacion .row h2 {
    font-size: 2.5rem;
    margin: 1% 0% 6% 0%;
  }
  .mainContacto .informacion .row #mapaGM {
    margin-bottom: 5%;
    height: 300px;
  }
  .mainContacto .informacion .quieroQueMeContacten h2 {
    font-size: 2.8rem;
  }
  .mainContacto .informacion .quieroQueMeContacten div form div label {
    color: white;
    margin-right: 3%;
    font-size: 1.5rem;
    white-space: nowrap;
  }
  .mainContacto .informacion .quieroQueMeContacten div form div input {
    font-size: 1.5rem;
  }
  .mainContacto .informacion .quieroQueMeContacten div form div #buttonQuieroContacten {
    font-size: 1.6rem;
  }
  .mainNosotros #nuestraHistoria div p {
    font-size: 1.2;
  }
  .mainNosotros #nuestroPersonalH2 {
    font-size: 3rem;
    margin: 1% 0% 1% 0%;
  }
  .mainNosotros #carouselExampleCaptions {
    display: none;
  }
  .mainNosotros #nuestroPersonalDesktop {
    display: flex;
    margin: 0% 6% 5% 6%;
  }
  .mainNosotros #nuestroPersonalDesktop .card {
    background-color: rgba(255, 255, 255, 0.5);
  }
  .mainNosotros #nuestroPersonalDesktop .card img {
    margin: 3% 5% 5% 5%;
  }
  .mainNosotros #nuestroPersonalDesktop .card h3 {
    display: flex;
    justify-content: center;
    overflow: hidden;
  }
  .mainNosotros #nuestroPersonalDesktop .card p {
    margin: 0% 5% 5% 5%;
  }
  .mainServicios .inforServicios .contenedorServicios {
    display: grid;
    margin: 4% 0% 0% 0%;
    height: 1765px;
    grid-template-columns: repeat(2, 1fr);
    gap: 4%;
    overflow: hidden;
    grid-template-areas: "item1 item2" "item3 item4" "item5 item6" "item7 item8" "item9 item10";
  }
  .mainServicios .inforServicios .contenedorServicios div h2 {
    font-size: 1.8rem;
  }
  .mainServicios .inforServicios .contenedorServicios div p {
    font-size: 1.2rem;
  }
  .mainServicios .inforServicios .contenedorServicios img {
    margin: 0;
    aspect-ratio: none;
    max-height: 297px;
    object-fit: cover;
  }
  .mainServicios .inforServicios .contenedorServicios .imagen1 {
    grid-area: item1;
  }
  .mainServicios .inforServicios .contenedorServicios .texto1 {
    grid-area: item2;
  }
  .mainServicios .inforServicios .contenedorServicios .imagen2 {
    grid-area: item4;
  }
  .mainServicios .inforServicios .contenedorServicios .texto2 {
    grid-area: item3;
  }
  .mainServicios .inforServicios .contenedorServicios .imagen3 {
    grid-area: item5;
  }
  .mainServicios .inforServicios .contenedorServicios .texto3 {
    grid-area: item6;
  }
  .mainServicios .inforServicios .contenedorServicios .imagen4 {
    grid-area: item8;
  }
  .mainServicios .inforServicios .contenedorServicios .texto4 {
    grid-area: item7;
  }
  .mainServicios .inforServicios .contenedorServicios .imagen5 {
    grid-area: item9;
  }
  .mainServicios .inforServicios .contenedorServicios .texto5 {
    grid-area: item10;
  }
  .mainGaleria {
    width: 60%;
  }
  .mainGaleria .contenedorMultimedia h2 {
    font-size: 3rem;
  }
}
@media screen and (min-width: 1400px) {
  header nav h1 a {
    font-size: 2.5rem;
  }
  header nav .navTabletAndDesktop .ulTabletAndDesktop {
    top: 5px;
    width: 700px;
  }
  header nav .navTabletAndDesktop .ulTabletAndDesktop li a {
    font-size: 1.8rem;
  }
  .footer {
    font-size: 1.4rem;
  }
  .footer h3 a {
    font-size: 1.9rem;
  }
  .footer .footerInfoContacto .redesSociales svg {
    width: 40px;
  }
  .mainIndex .subTitulo h2 {
    font-size: 3rem;
  }
  .mainIndex .card img {
    width: 70%;
    margin: 6% auto 6% auto;
  }
  .mainIndex .card p {
    font-size: 1.5rem;
  }
  .mainContacto .informacion .row #redes {
    margin: 5% 0% 5% 0%;
  }
  .mainContacto .informacion .row h2 {
    font-size: 2.8rem;
  }
  .mainContacto .informacion .row #mapaGM {
    height: 360px;
  }
  .mainContacto .informacion .quieroQueMeContacten h2 {
    font-size: 2.8rem;
  }
  .mainContacto .informacion .quieroQueMeContacten div form div #buttonQuieroContacten {
    font-size: 2rem;
  }
  .mainNosotros #nuestroPersonalDesktop div .card p {
    font-size: 1.3rem;
  }
  .mainServicios .inforServicios .contenedorServicios {
    margin: 4% 0% 0% 0%;
    height: 2400px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 4%;
    overflow: hidden;
  }
  .mainServicios .inforServicios .contenedorServicios img {
    margin: 0;
    aspect-ratio: none;
    max-height: 500px;
    object-fit: cover;
  }
  .mainServicios .inforServicios .contenedorServicios div h2 {
    font-size: 2.2rem;
  }
  .mainServicios .inforServicios .contenedorServicios div p {
    font-size: 1.8rem;
  }
  .mainServicios .inforServicios .deServicioAContacto button {
    margin: 5% 0% 5% 0%;
  }
  .mainGaleria {
    margin: 0% 0% 0% 8%;
    width: 40%;
  }
}

/*# sourceMappingURL=main.css.map */
