/*reset*/

* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    outline: none;

}

/*general*/

* {
    overflow: hidden;
    overflow-y: scroll;
    scrollbar-width: none;
}

/*navbar*/

header {
    height: 15vh;
}

.navbar {
    justify-content: space-between;
    width: 100%;
    background: linear-gradient(to bottom, rgba(128, 128, 128), transparent);
}

#offcanvasNavbar {
    display: flex;
    flex-direction: column;
    width: 40%;
    background: linear-gradient(to left, rgba(128, 128, 128), transparent);
    border: 0;
}

.ulMobile li a {
    color: #7a163c;
    text-decoration: none;
}

.container-fluid {
    display: block;
}

.container-fluid h1 {
    margin: 0%;
}

.navbar-toggler {
    border: 0;
    user-select: none;
}

.ulMobile {
    padding: 0;
    margin: 0%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

header h1 {
    display: flex;
    align-items: end;
    margin-bottom: 0;
}

header h1 a {
    white-space: nowrap;
    color: #7a163c;
    font-size: 1.2rem;
    text-decoration: none;
    margin-bottom: 0;
}

.navTabletAndDesktop {
    height: 15vh;
    background: linear-gradient(to bottom, rgba(128, 128, 128, 0.6), transparent);
    display: none;
    align-items: center;
}

.ulTabletAndDesktop {
    display: flex;
    justify-content: space-between;
    align-items: end;
    position: relative;
    top: 3px;
    width: 390px;
}


.ulTabletAndDesktop li a {
    color: #7a163c;
    font-size: 1.2rem;
    text-decoration: none;
}

/*footer*/

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-top: 1px solid black;
    width: 100%;
    background-color: white;
    font-size: 0.57rem;
}

.footer h3 a {
    color: black;
    font-size: 1rem;
    text-decoration: none;
    margin-top: 1%;
}

.direccionYMail {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 37%;
    margin-left: 7%;
}

.direccionYMail p {
    margin: 0;
}

.footerInfoContacto {
    display: flex;
    justify-content: space-between;
}

.redesSociales {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 2% 7% 2% 0%;

}

.anclaTextoFooter {
    text-decoration: none;
}

footer svg {
    width: 20px;
}

.copyright {
    margin: 3% 0% 3% 0%;
    color: #7a163c;
    text-align: center;
}

/*index*/

.indexBody {
    background-image: url(../img/fondoIndex.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;

}

.subTitulo {
    display: flex;
    flex-direction: column;
    justify-content: end;
    height: 85vh;
    width: 100vw;
    position: relative;
    bottom: 5vh;
}

.subTitulo h2 {
    display: flex;
    justify-content: center;
    color: #7a163c;
    font-family: 'Times New Roman', Times, serif;

}

.subTitulo img {
    margin-top: 10px;
    width: 70px;
    height: 14px;
}

.subTitulo a {
    display: flex;
    justify-content: center;
}

.fundamentos {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.fundamentos h2 {
    display: flex;
    justify-content: center;
    font-size: 1.5rem;
    color: black;
    overflow: hidden;
}

#carouselExampleCaptions {
    margin: 3% 5% 8% 5%;

}

.card {
    background-color: rgba(255, 255, 255, 0.5);
}

.card img {
    margin: 3% 8% 5% 8%;
}

.card h3 {
    display: flex;
    justify-content: center;
    overflow: hidden;
}

.card p {
    margin: 0% 5% 5% 5%;
}

.gridFundamentosDesktop {
    display: none;
}

/*contacto*/

.bodyContacto {
    background-image: url(../img/fondoContacto1.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.informacionBasica p {
    color: white;
    font-size: 2.34vw;
    font-size: 3.72vh;
}

.informacionBasica svg {
    width: 50px;
    height: 50px;
}

.quieroQueMeContacten h2 {
    color: white;
    font-size: 3.042vw;
    font-size: 4.839vh;
}

.quieroQueMeContacten form {
    background-color: black;
    width: 35.7143%;
    height: 37.1419%;
}

.quieroQueMeContacten label {
    color: white;
    font-size: 1.8726vw;
    font-size: 2.977vh;
}


.quieroQueMeContacten p {
    color: white;
    font-size: 2.0283vw;
    font-size: 3.2258vh;
}

.quieroQueMeContacten input {
    font-size: 2.0283vw;
    font-size: 3.2258vh;
}

.quieroQueMeContacten img {
    width: 40.031%;
    height: 39.950%;
}

/*galeria*/

.galeriaBody {
    background: url(../img/fondoGaleria.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

/*nosotros*/

.bodyNosotros {
    background-image: url(../img/fondoIndex.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    opacity: 95%;
}

.nuestraHistoria {
    width: 41.4521%;
    height: 79.9511%;
}

.nuestraHistoria h2 {
    font-size: 3.7468vw;
    font-size: 5.9593vh;
}

.nuestraHistoria p {
    font-size: 1.8726vw;
    font-size: 2.977vh;
}

.nuestroPersonal h2 {
    font-size: 3.7468vw;
    font-size: 5.9593vh;
}

/*servicios*/

.bodyServicios {
    background-image: url(../img/fondoServicios.webp);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;

}

.servicioInfo {
    margin-top: 3%;
    height: 270vh;
    overflow-y: hidden;
}

.tarjetaServicioInfo {
    display: flex;
    justify-content: space-between;
    height: 17%;
    margin: 3% 8% 0% 8%;
}

.tarjetaServicioInfo img {
    object-fit: cover;
    width: 47%;
}

.informacionEnTextoSercicio {
    display: flex;
    flex-direction: column;
    width: 47%;

}

.informacionEnTextoSercicio h2 {
    position: relative;
    bottom: 7px;
    font-size: 2.7em;
    margin-bottom: 2%;
    white-space: nowrap;

}

.servicioInfo p {
    margin-top: 3%;
    color: #7a163c;
    font-size: 2em;
}

.deServicioAContacto {
    display: flex;
    justify-content: center;
    color: rgb(0, 225, 255);
    font-size: 3rem;
    margin: 3%;

}

@media screen and (min-width: 520px) {

    /*navbar*/

    .container-fluid h1 {
        margin: 0%;
    }

    .container-fluid a {
        font-size: 1.5rem;
    }

    /*footer*/

    .footer {
        font-size: 1rem;
    }

    .footer h3 {
        margin: 2%;
    }

    .footer h3 a {

        font-size: 1.5rem;
    }

    footer svg {
        width: 25px;
    }

    /*index*/

    .fundamentos h2 {
        font-size: 2rem;
    }

    .card h3 {
        font-size: 2rem;
        margin-bottom: 5%;

    }

    .card p {
        font-size: 1.7rem;
    }

}


@media screen and (min-width: 768px) {

    /*navbar*/
    #navMobile {
        display: none;
    }

    .navTabletAndDesktop {
        display: flex;
        justify-content: space-around;
        width: 100%;
    }

    header h1 a {
        font-size: 1.7rem;
    }

    .ulTabletAndDesktop {
        flex-direction: row;
        margin: 0;
    }

    .ulTabletAndDesktop li a {
        font-size: 1rem;
    }


    .navTabletAndDesktop nav h1 a {
        font-size: 1.7rem;
        margin: 0;
    }

    /*footer*/

    .footer {
        font-size: 1.2rem;
    }

    .footer h3 {
        margin: 2%;
    }

    .footer h3 a {

        font-size: 1.7rem;
    }

    /*index*/

    .subTitulo h2 {
        font-size: 2.6rem;
    }

    .fundamentos h2 {
        font-size: 2.5rem;
        margin-bottom: 5%;
    }

    .fundamentos {
        display: flex;
        justify-content: center;
    }

    .card img {
        width: 577px;
        margin: 3% auto 3% auto;

    }

    .card p {
        font-size: 2rem;
    }

}

@media screen and (min-width: 1024px) {

    #carouselExampleCaptions {
        display: none;
    }

    .card {
        width: 100%;
    }

    .card img {
        width: 88%;
        margin: 3% 8% 3% 8%;
    }

    .card h3 {
        font-size: 1.4rem;
        margin-bottom: 5%;

    }

    .card p {
        font-size: 1rem;
    }

    .gridFundamentosDesktop {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        justify-items: center;
        margin: 0% 8% 5% 8%;
        grid-column-gap: 5%;
    }
}


@media screen and (min-width: 1400px) {

    /*navbar*/

    header h1 a {
        position: relative;
        bottom: 3px;
        font-size: 2.5rem;
    }

    .ulTabletAndDesktop {

        width: 700px;
        font-size: 1.9rem;
        margin: 0;
    }

    .ulTabletAndDesktop li a {
        font-size: 1.7rem;
    }

    /*footer*/

    .footer {
        font-size: 1.4rem;
    }

    .footer h3 {
        margin: 2%;
    }

    .footer h3 a {

        font-size: 1.9rem;
    }

    /*index*/

    .subTitulo h2 {
        font-size: 3rem;
    }

    .card img {
        width: 70%;
        margin: 6% auto 6% auto;
    }

    .card p {
        font-size: 1.5rem;
    }
}