.mainIndex {

    .subTitulo {
        @include flex(column, stretch, end);
        height: 85vh;
        width: 100vw;
        position: relative;
        bottom: 5vh;

        h2 {
            @include flex(row, stretch, center);
            color: $colorPrincipal;
            font-family: 'Times New Roman', Times, serif;

        }

        a {
            @include flex(row, stretch, center);

            img {
                margin-top: 10px;
                width: 70px;
                height: 14px;
            }
        }

    }

    .fundamentos {
        @include flex(column, stretch, space-around);

        h2 {
            @include flex(row, stretch, center);
            font-size: 1.5rem;
            color: black;
            overflow: hidden;
        }

        #carouselExampleCaptions {
            margin: 3% 5% 8% 5%;
            box-shadow: 9px 10px 31px 11px rgba(0, 0, 0, 0.7);
            -webkit-box-shadow: 9px 10px 31px 11px rgba(0, 0, 0, 0.7);
            -moz-box-shadow: 9px 10px 31px 11px rgba(0, 0, 0, 0.7);

            .card {
                background-color: rgba(255, 255, 255, 0.5);
                
                img {
                    margin: 3% 8% 5% 8%;
                }

                h3 {
                    @include flex(row, stretch, center);
                    ;
                    overflow: hidden;
                }

                p {
                    margin: 0% 5% 5% 5%;
                }
            }
        }
    }

    .gridFundamentosDesktop {
        display: none;
        
    }
}