.mainGaleria {
    margin: 3% 5% 3% 5%;
    .contenedorMultimedia {
        h2 {
            font-size: 1rem;
            margin: 0;
            color: black;
        }
        
        #video {
            aspect-ratio: 16/9;
            margin-top: 2%;
            width: 100%;
        }
        
        div {
            display: inline-flex;
            align-items: center;
            justify-content: space-between;
            width: 100%;
            margin-bottom: 4%;
            
            img {
                aspect-ratio: 16/9;
                object-fit: cover;
                width: 33%;
            
        }
        }

        
    }
}