.mainNosotros {


    #nuestraHistoria {
        margin: 0% 5% 0% 5%;

        h2 {
            color: white;
        }

        p {
            color: white;
        }

        #historiaTexto {
            padding: 0;
        }

    }

    #nuestroPersonalH2 {
        color: rgb(140, 0, 255);
        margin: 5% 0% 5% 0%;
        font-size: 2rem;
    }

    .nuestroPersonalCarrusel {
        margin: 0% 5% 3% 5%;
        #carouselExampleCaptions {
            .carousel-inner {
                .carousel-item {
                    .card {
                        background-color: rgba(255, 255, 255, 0.5);

                        img {
                            margin: 3% 3% 5% 3%;
                            border-radius: 2%;
                        }

                        h3 {
                            display: flex;
                            justify-content: center;
                            overflow: hidden;
                        }

                        p {
                            margin: 0% 5% 5% 5%;
                        }
                    }
                }
            }
        }
    }



    #nuestroPersonalDesktop {
        display: none;
    }
}