.mainServicios {
    .inforServicios {
        margin: 2% 5% 2% 5%;

        .contenedorServicios {
            h2 {
                color: white;
                font-size: 1.2rem;
            }

            p {
                color: white;
                font-size: 0.9rem;
            }

            img {
                width: 100%;
                aspect-ratio: 16/9;
                margin: 3% 0% 3% 0%;
            }
        }

        .deServicioAContacto {
            @include flex(row, stretch, center );

            button {
                background-color: $colorPrincipal;
                border: 0;
                margin: 3% 0% 5% 0%;

                a {
                    color: white;
                    text-decoration: none;
                }


            }

            button:hover {
                background-color: #9b003b;
            }
        }
    }

}