.indexBody {
    background-image: url(../img/fondoIndex.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.bodyContacto {
    background-image: url(../img/dark-paths.png);
}

.bodyNosotros {
    background-image: url(../img/fondoIndex.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    opacity: 95%;
}

.bodyServicios {
    background-color: #02111B;
}