@media screen and (min-width: 520px) {

    //navbar
    header {

        font-size: 1.2rem;
        width: 100%;
        background: linear-gradient(to bottom, #DEB986, transparent);
        height: 60px;

        nav {
            @include flex(row, stretch, space-between);
            font-size: 1.2rem;
            margin: 0% 5% 0% 5%;

            h1 {
                @include flex (row, center, flex-start);
                height: 50px;

                a {
                    white-space: nowrap;
                    color: $colorPrincipal;
                    font-size: 1.5rem;
                    text-decoration: none;
                    overflow: hidden;
                }

            }

            #botonHamburguesa {
                padding: 0;

                .container-fluid {
                    padding: 0;

                    a {
                        font-size: 1.5rem;
                    }

                    .navbar-toggler {
                        border: 0;
                        user-select: none;
                        padding: 0;
                    }

                    #offcanvasNavbar {
                        @include flex(column, stretch, flex-start);
                        width: 50%;
                        background: linear-gradient(to left, rgb(212, 118, 118), transparent);
                        border: 0;

                        .ulMobile {
                            padding: 0%;
                            height: 50%;

                            @include flex(column, center, space-around);

                            li {
                                a {
                                    color: #ffffff;
                                    text-decoration: none;
                                    text-shadow: 1px 1px 1px black;
                                }
                            }
                        }
                    }
                }

            }
        }
    }

    //footer

    .footer {
        font-size: 1rem;

        h3 {
            a {
                font-size: 1.5rem;
            }
        }

        .footerInfoContacto {
            .redesSociales {
                svg {
                    width: 30px;
                }
            }
        }
    }

    //index
    .mainIndex {
        .subTitulo {
            h2 {
                font-size: 2rem;
            }
        }

        .fundamentos {
            h2 {
                font-size: 2rem;
            }

            #carouselExampleCaptions {
                .carousel-inner {
                    .carousel-item {
                        .card {
                            h3 {
                                font-size: 2rem;
                                margin-bottom: 5%;
                            }

                            p {
                                font-size: 1.7rem;
                            }

                        }
                    }
                }
            }
        }
    }

    //contacto
    .mainContacto {
        .informacion {
            margin: 3% 5% 4% 5%;

            p {
                top: 6px;
                font-size: 1.5rem;
            }



            .row {
                #contactoBasico {
                    .iconoContacto {
                        width: 4rem;
                        height: 4rem;
                    }
                }

                #redes {
                    a {
                        img {
                            width: 5rem;
                        }
                    }
                }

                h2 {
                    font-size: 2.2rem;
                }

                #mapaGM {
                    height: 440px;
                }
            }

            .quieroQueMeContacten {
                h2 {
                    font-size: 2.2rem;
                }
            }
        }
    }

    //nosotros {
    .mainNosotros {
        #nuestraHistoria {
            h2 {
                font-size: 2.5rem;
                margin: 5% 0% 5% 0%;
            }

            div {
                p {
                    font-size: 1.2rem;
                }
            }
        }

    }

    //servicios 
    .mainServicios {
        .inforServicios {
            margin: 2% 5% 2% 5%;

            .contenedorServicios {
                h2 {
                    font-size: 1.5rem;
                }

                p {
                    font-size: 1.1rem;
                }
            }

            .deServicioAContacto {
                button {
                    a {
                        font-size: 1.3rem;
                        color: white;
                        text-decoration: none;
                    }
                }

            }
        }
    }

    //galeria
    .mainGaleria {

        .contenedorMultimedia {
            h2 {
                font-size: 1.7rem;
            }
        }
    }
}




@media screen and (min-width: 768px) {

    //navbar
    header {
        height: 10vh;

        nav {
            margin: 0% 8% 0% 8%;

            #botonHamburguesa {
                display: none;
            }

            h1 {
                height: 10vh;

                a {
                    font-size: 1.4rem;
                    margin: 0;
                }

                a:hover {
                    color: #9b003b;
                }
            }

            .navTabletAndDesktop {
                display: flex;
                justify-content: space-between;
                height: 10vh;

                .ulTabletAndDesktop {
                    position: relative;
                    top: 3px;
                    margin: 0;

                    li {
                        a {
                            font-size: 1rem;
                        }

                        a:hover {
                            color: #9b003b;
                        }
                    }
                }
            }
        }
    }

    //footer
    .footer {
        h3 {
            margin: 0.5%;

            a {
                font-size: 1.7rem;
            }
        }

        font-size: 1.2rem;

        h3 {
            a {
                font-size: 1.5rem;
            }
        }

        .footerInfoContacto {
            .redesSociales {
                svg {
                    width: 35px;
                }
            }
        }
    }

    //index
    .mainIndex {
        .subTitulo {
            h2 {
                font-size: 2.5rem;
            }
        }

        .fundamentos {
            display: flex;
            justify-content: center;

            h2 {
                font-size: 2.4rem;
            }

            #carouselExampleCaptions {
                margin: 4% 8% 4% 8%;

                .carousel-inner {
                    .carousel-item {
                        .card {
                            img {
                                width: 577px;
                                margin: 3% auto 3% auto;
                            }

                            p {
                                font-size: 2rem;
                            }
                        }
                    }
                }
            }
        }
    }

    //contacto 
    .mainContacto {
        .informacion {
            margin: 2% 8% 3% 8%;

            p {
                top: 6px;
                font-size: 2rem;
            }

            .row {
                #contactoBasico {
                    .iconoContacto {
                        width: 5rem;
                        height: 5rem;
                    }
                }

                #redes {
                    a {
                        img {
                            width: 7rem;
                        }
                    }
                }

                h2 {
                    font-size: 2.8rem;
                }

                #mapaGM {
                    height: 500px;
                }
            }

            .quieroQueMeContacten {
                h2 {
                    font-size: 2.8rem;
                }

                div {
                    form {
                        div {
                            #buttonQuieroContacten {
                                font-size: 1.6rem;
                            }
                        }
                    }
                }
            }

        }
    }

    //nosotros
    .mainNosotros {
        #nuestraHistoria {
            margin: 0% 8% 0% 8%;

            h2 {
                margin: 0% 0% 3% 0%;
                padding: 0;
            }

            div {
                p {
                    font-size: 1.2rem;
                }
            }
        }


        #nuestroPersonash2 {
            margin: 3% 0% 5% 0%;
            font-size: 2.5rem;
        }

        .nuestroPersonalCarrusel {
            margin: 0% 8% 4% 8%;

            #carouselExampleCaptions {
                .carousel-inner {
                    .card {
                        h3 {
                            font-size: 3.3rem;
                        }

                        p {
                            font-size: 1.7rem;
                        }
                    }
                }
            }
        }
    }

    //servicios
    .mainServicios {
        margin: 0% 8% 0% 8%;

        .inforServicios {
            width: 100%;
            margin: 0;

            .contenedorServicios {
                h2 {
                    font-size: 2.7rem;
                }

                p {
                    font-size: 1.6rem;
                }

                img {
                    margin: 5% 0% 5% 0%;
                }
            }

            .deServicioAContacto {
                button {
                    a {
                        font-size: 2.5rem;
                    }
                }
            }
        }
    }

    //galeria
    .mainGaleria {
        margin: 3% 8% 3% 8%;

        .contenedorMultimedia {
            h2 {
                font-size: 2.3rem;
            }
        }
    }
}


@media screen and (min-width: 1024px) {

    //navbar

    header {
        height: 15vh;

        nav {
            height: 15vh;

            h1 {
                height: 15vh;

                a {
                    font-size: 2rem;
                }
            }

            .navTabletAndDesktop {
                height: 15vh;

                .ulTabletAndDesktop {
                    top: 2px;
                    width: 520px;

                    li {
                        a {
                            font-size: 1.4rem;
                        }
                    }
                }
            }
        }
    }


    //footer


    //Index
    .mainIndex {
        .fundamentos {
            #carouselExampleCaptions {
                display: none;
            }
        }

        .fundamentos {
            h2 {
                font-size: 3rem;
                margin-bottom: 3%;
            }
        }

        .gridFundamentosDesktop {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            justify-items: center;
            margin: 0% 8% 5% 8%;
            grid-column-gap: 5%;

            .card {
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: rgba(255, 255, 255, 0.5);
                width: 100%;
                



                img {
                    width: 88%;
                }

                h3 {
                    font-size: 1.4rem;
                    margin-bottom: 5%;
                }

                p {
                    font-size: 1rem;
                    margin: 0% 3% 3% 3%;
                }
            }
        }
    }

    //contacto
    .mainContacto {
        .informacion {
            width: 570px;

            p {
                color: white;
                position: static;
                margin: 0% 0% 0% 4%;
                top: 6px;
                font-size: 2rem;
            }

            .row {
                #contactoBasico {
                    overflow: hidden;
                    display: flex;
                    justify-content: start;
                    margin: 3% 0% 3% 0%;
                }

                #redes {
                    margin: 5% 0% 5% 0%;

                }

                h2 {
                    font-size: 2.5rem;
                    margin: 1% 0% 6% 0%;
                }

                #mapaGM {
                    margin-bottom: 5%;
                    height: 300px;
                }
            }

            .quieroQueMeContacten {
                h2 {
                    font-size: 2.8rem;
                }

                div {
                    form {
                        div {
                            label {
                                color: white;
                                margin-right: 3%;
                                font-size: 1.5rem;
                                white-space: nowrap;
                            }

                            input {
                                font-size: 1.5rem;
                            }

                            #buttonQuieroContacten {
                                font-size: 1.6rem;
                            }
                        }
                    }
                }
            }
        }
    }

    //nosotros
    .mainNosotros {
        #nuestraHistoria {
            div {
                p {
                    font-size: 1.2;
                }
            }
        }

        #nuestroPersonalH2 {
            font-size: 3rem;
            margin: 1% 0% 1% 0%;
        }

        #carouselExampleCaptions {
            display: none;
        }

        #nuestroPersonalDesktop {
            display: flex;
            margin: 0% 6% 5% 6%;

            .card {
                background-color: rgba(255, 255, 255, 0.5);

                img {
                    margin: 3% 5% 5% 5%;
                }

                h3 {
                    display: flex;
                    justify-content: center;
                    overflow: hidden;
                }

                p {
                    margin: 0% 5% 5% 5%;
                }
            }
        }
    }

    //servicios 
    .mainServicios {
        .inforServicios {

            .contenedorServicios {
                display: grid;
                margin: 4% 0% 0% 0%;
                height: 1765px;
                grid-template-columns: repeat(2, 1fr);
                gap: 4%;
                overflow: hidden;

                div {
                    h2 {
                        font-size: 1.8rem;
                    }

                    p {
                        font-size: 1.2rem;
                    }
                }

                img {
                    margin: 0;
                    aspect-ratio: none;
                    max-height: 297px;
                    object-fit: cover;
                }

                grid-template-areas: "item1 item2"
                "item3 item4"
                "item5 item6"
                "item7 item8"
                "item9 item10"
                ;

                .imagen1 {
                    grid-area: item1;
                }

                .texto1 {
                    grid-area: item2;
                }

                .imagen2 {
                    grid-area: item4;
                }

                .texto2 {
                    grid-area: item3;
                }

                .imagen3 {
                    grid-area: item5;
                }

                .texto3 {
                    grid-area: item6;
                }

                .imagen4 {
                    grid-area: item8;
                }

                .texto4 {
                    grid-area: item7;
                }

                .imagen5 {
                    grid-area: item9;
                }

                .texto5 {
                    grid-area: item10;
                }
            }
        }
    }

    //galeria
    .mainGaleria {
        width: 60%;

        .contenedorMultimedia {
            h2 {
                font-size: 3rem;
            }
        }
    }


}


@media screen and (min-width: 1400px) {

    //navbar
    header {

        nav {

            h1 {

                a {
                    font-size: 2.5rem;
                }
            }

            .navTabletAndDesktop {

                .ulTabletAndDesktop {
                    top: 5px;

                    width: 700px;

                    li {
                        a {
                            font-size: 1.8rem;
                        }
                    }
                }
            }
        }
    }



    //footer

    .footer {
        font-size: 1.4rem;

        h3 {
            a {
                font-size: 1.9rem;
            }
        }

        .footerInfoContacto {
            .redesSociales {
                svg {
                    width: 40px;
                }
            }
        }
    }

    //index
    .mainIndex {
        .subTitulo {
            h2 {
                font-size: 3rem;
            }
        }

        .card {
            img {
                width: 70%;
                margin: 6% auto 6% auto;
            }

            p {
                font-size: 1.5rem;
            }
        }
    }

    //contacto 
    .mainContacto {
        .informacion {
            .row {

                #redes {
                    margin: 5% 0% 5% 0%;

                }

                h2 {
                    font-size: 2.8rem;
                }

                #mapaGM {
                    height: 360px;
                }
            }

            .quieroQueMeContacten {
                h2 {
                    font-size: 2.8rem;
                }

                div {
                    form {
                        div {
                            #buttonQuieroContacten {
                                font-size: 2rem;
                            }
                        }
                    }
                }
            }

        }
    }

    //nosotros
    .mainNosotros {
        #nuestroPersonalDesktop {
            div {
                .card {
                    p {
                        font-size: 1.3rem;
                    }
                }
            }

        }
    }

    //servicios
    .mainServicios {
        .inforServicios {

            .contenedorServicios {
                margin: 4% 0% 0% 0%;
                height: 2400px;
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                gap: 4%;
                overflow: hidden;

                img {
                    margin: 0;
                    aspect-ratio: none;
                    max-height: 500px;
                    object-fit: cover;
                }

                div {
                    h2 {
                        font-size: 2.2rem;
                    }

                    p {
                        font-size: 1.8rem;
                    }
                }
            }

            .deServicioAContacto {
                button {
                    margin: 5% 0% 5% 0%;
                }
            }
        }
    }


    //galeria
    .mainGaleria {
        margin: 0% 0% 0% 8%;
        width: 40%;
    }
}