header {
    font-size: 1.2rem;

    h1 {
        display: flex;
        align-items: end;
        margin-bottom: 0;
        overflow: hidden;

        a {
            white-space: nowrap;
            color: #7a163c;
            font-size: 1.2rem;
            text-decoration: none;
            overflow: hidden;
        }
    }

    .navbar-toggler {
        border: 0;
        user-select: none;
    }

    .navbar {
        justify-content: space-between;
        width: 100%;
        background: linear-gradient(to bottom, rgba(128, 128, 128, 0.7), transparent);
        height: 50px;

        #offcanvasNavbar {
            display: flex;
            flex-direction: column;
            width: 50%;
            background: linear-gradient(to left, rgb(212, 118, 118), transparent);
            border: 0;

            .ulMobile {
                padding: 0%;
                height: 50%;
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                align-items: center;

                li {
                    a {
                        color: #ffffff;
                        text-decoration: none;
                        text-shadow: 1px 1px 1px black;
                    }
                }
            }
        }
    }

    .navTabletAndDesktop {
        height: 15vh;
        display: none;
        align-items: center;
        justify-content: space-between;


        .ulTabletAndDesktop {
            display: flex;
            justify-content: space-between;
            align-items: end;
            position: relative;
            top: 3px;
            width: 390px;

            li {
                a {
                    color: #7a163c;
                    text-decoration: none;
                }
            }
        }
    }

}