header {
    font-size: 1.2rem;

    nav {
        h1 {
            @include flex(row, end, flex-start );
            margin-bottom: 0;
            overflow: hidden;

            a {
                white-space: nowrap;
                color: $colorPrincipal;
                font-size: 1.2rem;
                text-decoration: none;
                overflow: hidden;
            }
        }

        .container-fluid {


            .navbar-toggler {
                border: 0;
                user-select: none;
                padding: 0;
            }


        }


        #navMobile {
            justify-content: space-between;
            width: 100%;
            background: linear-gradient(to bottom, #DEB986, transparent);
            height: 50px;

            .container-fluid {
                margin: 0% 5% 0% 5%;
                padding: 0;
            }

            #offcanvasNavbar {
                @include flex(column, stretch, flex-start );
                width: 50%;
                background: linear-gradient(to left, rgb(212, 118, 118), transparent);
                border: 0;

                .ulMobile {
                    padding: 0%;
                    height: 50%;
                    @include flex(column, center, space-around );

                    li {
                        a {
                            color: #ffffff;
                            text-decoration: none;
                            text-shadow: 1px 1px 1px black;
                        }
                    }
                }
            }
        }

        .navTabletAndDesktop {
            height: 15vh;
            display: none;
            align-items: center;
            justify-content: space-between;


            .ulTabletAndDesktop {
                @include flex(row, end, space-between );
                position: relative;
                top: 3px;
                width: 390px;

                li {
                    a {
                        color: $colorPrincipal;
                        text-decoration: none;
                    }
                }
            }
        }
    }



}